
.field{
    border: 2px solid;
    padding: 50px 0px;
}

.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    position: relative;
    left: 285px
}

.field:hover .ball{
    transform: translate(900px, -200px);
    transition: transform 0.5s ease-in 0.2s;
}

.bat{
    transition: transform 0.2s ease-in;
}

.field:hover .bat{
    transform: rotate(-55deg);
    transform-origin: top right;
}
